<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Edit {{subid}} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
      function replaceit(x, noty)
      {
          x = document.getElementById(x);
          noty = document.getElementById(noty);
          noty.style.display = "none";
          x.style.display = "initial";
      }
    </script>
  </head>
  <body>
    <div id="toptitle">
      <h1>Edit {{subid}}</h1>
    </div>

    <form action="/postedit?subid={{subid}}" method="post" style="text-align: center;">
      <br><br>

      <!--  no time for this :(
      <div class="tabs">
        <button type="button" class="tablink" onclick="replaceit('textupload', 'file');">type it out </button>

        <button type="button" class="tablink" onclick="replaceit('file', 'textupload');">upload a file</button>
      </div>
      -->

      <div id="textupload">
        <textarea rows="40" cols="100" id="codebox" name="codebox">{{codebox}}</textarea>
        <br>
        <button type="submit">Resubmit!</button>
      </div>

      <!--  ditto
      <div id="file" style="display: none;">
        <input type="file" id="cbfile" name="cbfile">
        <button type="submit">Submit!</button>
      </div>
      -->
    </form>

  </body>
</html>
