<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{subid}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='js/fish/build/lib.js')}}"></script>
  </head>

  <body style="margin: 0; padding: 0;">
    
    <div class="vl" id="odsep"></div>
    <div class="fishinterout">
      <div id="outdiv">
        <center><h1>OUTPUT:</h1></center>
        <p id="out">
        </p>
      </div>
      <div id="debugdiv">
        <center><h1>CODE:</h1></center>
        <p id="debug">
      {# draw codebox iteratively #}
{% for l in codepy %}
{% for c in l %}{{c}}{% endfor %}
<br>
{% endfor %}
        </p>
      </div>
    </div>
  </body>

  <script>
    runfish(codebox_arrconv({{code}}), document.getElementById("out"), 1);
  </script>
</html>
