<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Online &gt;&lt;&gt; interpreter</title>
  </head>
  <body>
    <div id="toptitle">
      <h1>Welcome to the free online<br>&gt;&lt;&gt; interpreter!</h1>
      <p class="disclaimer" style="width: 30%; text-align: center;">
      More info:
      <a href="https://esolangs.org/wiki/Fish">About &gt;&lt;&gt;</a></p>
      <p class="disclaimer" style="width: 30%;  text-align: justify;">This
      interpreter is meant to be for batch-proccessing, which is why the input
      command has not been implemented. This is a feature, not a bug. Additionally,
      parsing in &gt;&lt;&gt; is slow and error-prone; consider simply pushing the
      values onto the stack instead.</p>

      </p>

      <br><br>
    </div>

    <div id="submitbtn">
      <a href="/submit" class="button">Upload your submisison<a/>
    </div>
    <p class="disclaimer">Disclaimer: all code put here is available to everyone.</p>
    <br><br>

    <!-- table of submissions -->

    <table id="submissions">
      <tr>
        <th colspan=3 style="background: gray;">Past submissions</th>
      </tr>
      <tr>
        <th>Submission ID</th>
        <th>Author</th>
        <th>Operations</th>
      </tr>
      {% for k, v in submissions.items() %}
      <tr>
        <td><a href="/getsub?subid={{k}}">{{k}}</a></th>
        <td>{{v["author"]}}</td>
        <td style="width: 0;">
          <a class="nounderl" href="/delsub?subid={{k}}">🗑️</a>
          &nbsp;&nbsp;
          <a class="nounderl" href="/editsub?subid={{k}}">✏️ </a>
        </td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
